body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: stretch;
}
.card {
  border: 2px solid #ccc;
  margin: 5px 20px;
}
