body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.nav-center {
  background-color: rgba(133, 122, 200);
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-links {
  padding: 20px;
  width: 500px;
  margin: 0px auto;
  background-color: rgba(133, 122, 200);
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  background-color: black;
  color: #fff;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #f1f5f8; /* Green */
  border: none;
  color: #000;
  padding: 10px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(238, 235, 235, 0.2);
}
