body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 241, 250);
  font-family: "Roboto", sans-serif;
}
h3 {
  margin: 0px auto;
}
.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
